.cli-window{
    height: 100%;
    overflow: hidden;

    pre{
        height: 100%;
        padding: 0;


        
    }

    .react-console-emulator{

        color: #edededdf;
        .react-console-emulator > div {
            padding: 10px;
        }



        &::-webkit-scrollbar {
            width: 5px;
        }
        
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 4px;
        }
        
        &::-webkit-scrollbar-thumb:hover {
            background-color: rgba(255, 255, 255, 0.5);
        }
    }
    
}