.window{
    background-color: rgb(26, 26, 26);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    overflow: hidden;
    box-shadow: 0 0 4px rgba(103, 103, 103, 0.5);
    color: rgb(239, 239, 239);

    width: 100%;
    height: 100%;

    cursor: auto;


    .nav{
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 5px 7px;

        color: rgb(171, 171, 171);

        .dots{
            display: flex;
            flex-direction: row;
            gap: 5px;
        }
        .dot{
            height: 12px;
            width: 12px;
            border-radius: 50%;

            cursor: pointer;
        }

        .red{
            background-color: rgb(224, 40, 40);
        }
        .yellow{
            background-color: rgb(234, 234, 64);
        }
        .green{
            background-color: rgb(6, 207, 6);
        }
    }

    hr{
        border: none;
        height: 1px;
        background-color: rgba(255, 255, 255, 0.1);
    }

    .main-content{
        padding: 10px;
        overflow-y: scroll;
        height: 100%;

        &::-webkit-scrollbar {
            width: 7px;
        }
        
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        
        &::-webkit-scrollbar-thumb {
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 4px;
        }
        
        &::-webkit-scrollbar-thumb:hover {
            background-color: rgba(255, 255, 255, 0.5);
        }
        
        a{
            color: rgb(216, 216, 216);
            text-decoration: none;
        }

        .profile{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            img{
                height: 50px;
                width: 50px;
                border-radius: 50%;
            }
        }

        .repos{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 5px 10px;
            margin-top: 4px;

            .repo{
                background: linear-gradient(to bottom, rgb(61, 91, 155), rgb(55, 79, 131)) ;
                border-radius: 5px;
                padding: 0.1rem 0.2rem;
                cursor: pointer;

                font-size: small;
            }
        }
    }
}