.dock{
    position: fixed;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);

    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(0.5px);

    display: flex;
    gap: 0.5rem;

    border-radius: 0.75rem;
    padding-inline: 1rem;
    padding-block: 0.75rem;

    z-index: 10 !important;



    .icon{
        padding: 0.5rem;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        aspect-ratio: 1/1;
        width: 3rem;
        height: 3rem;

        transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    }
    .icon:hover{
        transform: scale(1.25) translateY(-20%);
    }
    .icon:hover + .icon, .icon:has(+ .icon:hover) {
        transform: scale(1.1) translateY(-10%);
    }
    

    .github, .cli{
        background-color: black;
    }

    .note{
        background: linear-gradient(to bottom, rgba(255, 179, 87), rgba(255, 153, 28));
    }

    .pdf{
        background: linear-gradient(to bottom, rgb(255, 65, 78) ,rgb(255, 25, 40));
    }

    .calender, .mail{
        background: linear-gradient(to bottom, rgb(105, 95, 255), rgb(66, 52, 255));
    }

    .youtube{
        background: linear-gradient(to bottom, rgb(255, 0, 0), rgb(255, 0, 0));
    }

    .linkedin{
        background: linear-gradient(to bottom, rgb(63, 93, 214), rgb(49, 78, 194));
    }
}