*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, #root{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    // background-image: url("./mac-wallpaper.jpg");
    background-image: url("./wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    position: relative;
    overflow: hidden;
}

body{
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}