*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, #root{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%; 
    background-image: url("https://images.unsplash.com/photo-1509023464722-18d996393ca8?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 0;
    position: relative;
    overflow: hidden;
    background-attachment: fixed;
}

body{
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}